* {
  margin: 0;
  padding: 0;
  /* font-family: "BMHANNA", sans-serif; */
}

::-webkit-scrollbar {
  display: none;
}

img {
  user-drag: none; /* Safari */
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "BMHANNA";
  src: url("../public/BMHANNAPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
